<main class="bg-slate-200 pt-4 flex items-center justify-center gap-4">
  <h1 class="block">Hello ikhan, {{ title }}</h1>
  <app-comp class="block" [inputFunction]="funcForChild">
    <p>thes are children nodes</p>
  </app-comp>
  <div
    class="w-4 h-12 bg-transparent border-r-2 border-red-500"
    role="separator"
    aria-label="Divider"
  ></div>
  <div class="right-side">
    <div class="py-2">
      <mapped-comp *ngFor="let task of tasks" [task]="task"></mapped-comp>

      <div class="p-2">
        <button
          (click)="handleClick()"
          type="button"
          class="rounded border bg-red-200 border-red-400 px-2 py-1"
        >
          parent button
        </button>
      </div>
    </div>
    <interface-comp
      [navigate]="navigate"
      [testInput]="forChild"
    ></interface-comp>
  </div>
  <router-outlet></router-outlet>
</main>
