<div
  class="bg-slate-500 p-3 rounded flex flex-col gap-y-2 max-w-min mx-auto mb-2"
>
  <form
    class="flex items-center"
    [formGroup]="searchForm"
    (submit)="onSubmit()"
  >
    <label name="ikhan"> </label>
    <input
      type="text"
      name="ikhan"
      formControlName="search"
      #search
      (input)="onChange(search.value)"
      class="border-gray-600 border rounded-xl active:outline-none text-xs-40 mr-2"
    />
    <button
      type="submit"
      class="px-2 text-sm text-green-600 bg-green-200 border border-green-300 rounded-lg"
    >
      create
    </button>
  </form>
  <span
    class="text-xs text-red-600"
    *ngIf="
      searchForm.get('search')?.invalid && searchForm.get('search')?.touched
    "
  >
    Please enter a valid search term
  </span>
  <button
    (click)="inputFunction()"
    class="px-2 text-sm text-green-600 bg-green-200 border border-green-300 rounded-lg"
  >
    reset
  </button>
</div>
<div class="grid grid-cols-3 gap-6">
  <div
    *ngFor="let user of filteredUsers"
    class="bg-white rounded-lg shadow-lg p-4 cursor-pointer transform transition duration-300 ease-in-out hover:bg-blue-100 hover:scale-105"
  >
    <user-comp [selectedUser]="user"></user-comp>
  </div>
  <div
    *ngIf="loading"
    class="bg-white rounded-lg shadow-lg p-4 cursor-pointer transform transition duration-300 ease-in-out hover:bg-blue-100 hover:scale-105"
  >
    <p class="text-red-500">loading...</p>
  </div>
</div>
